* {
	box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	background-image: url("../images/topography.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin: 0 0 80px; /* bottom = footer height */
}

header {
	height: 70px;
	background-color: #ffffff;
	margin-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	position: static;
}

h1 {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	color: #ffffff;
}

nav {
	text-align: center;
	padding: 5px;
}

.navlinks {
	text-decoration: none;
	color: #777777;
	font-size: 15px;
	margin: 15px;
}

h2 {
	color: #4aaaa5;
	background-color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	font-size: 20px;
	padding: 15px;
	border-bottom: 2px solid #dddddd;
}

#headshot {
	width: 100%;
	max-width: 610px;
	padding: 15px;
	padding-left: 100px;
	padding-right: 100px;
}

p {
	padding: 15px;
	line-height: 1.5em;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
	color: #4aaaa5;
	font-weight: bold;
	padding: 10px;
	border-bottom: 2px solid #dddddd;
}

h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
	background-color: #4aaaa5;
	color: white;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 15px;

}

.pfheader {
	color: #ffffff;
	background-color: #4aaaa5;
	width: 300px;
	text-align: center;

}

a {
	text-decoration: none;
}

.portfolioentries {
	padding: 15px;

}

#sociallinks {
	clear: both;
	padding: 10px;
}

form {
	padding: 20px;
	font-size: 18px;
}

input {
	background-color: #dddddd;
	width: 100%;
}
textarea {
	background-color: #dddddd;
}

#messagebox {
	height: 300px;
	width: 100%;
	overflow: auto;
	resize: none;
}

#submitbutton {
	width: 33%;
	background-color: #4aaaa5;
	font-size: 18px;
	margin-top: 10px;
	color: #ffffff;
	font-weight: bold;

}

[class*='col-'] {
  float: left;
}

.col-2-3 {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.col-1-3 {
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-top: 10px;
  margin-bottom: 80px;

}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

footer {
	clear: both;
	background-color: #666666;
	color: #ffffff;
	font-size: 10px;
	width: 100%;
	height: 80px;
	padding: 45px;
	border-top: 4px solid #4aaaa5;
	text-align: center;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 640px) {

	h1 {
		font-size: 35px;
		text-align: right;
		float: left;
		padding: 15px;
	}
	header {
		height: 67px;
	}
	nav {
		float: right;
		margin-top: 15px;
		font-size: 20px;

	}
	h2 {
		font-size: 25px;
	}
	h3 {
		font-size: 20px;
	}
	p {
		font-size: 1.3em;
	}
	
}

@media screen and (min-width: 768px) {
	#headshot {
		float: left;
		padding: 15px;
		max-width: 350px;
	}
	
}


@media screen and (min-width: 980px) {
	.col-2-3 {
		width: 65%;
		float: left;
		margin-bottom: 50px;
		margin-left: 15px;
	}
	.col-1-3 {
		width: 250px;
		float: right;
		margin-right: 25px;
	}
	nav {
		margin-right: 25px;
	}
	h1 {
		margin-left: 15px;
	}

}